<h3>External Display</h3>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: settings.plugins.externaldisplay.enable_framebuffer">
                Enable rendering to framebuffer
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Framebuffer path') }}</label>
        <div class="controls">
            <input type="text" class="input-medium"
                   data-bind="value: settings.plugins.externaldisplay.framebuffer_path">
            <div class="help-block">
                <p>
                    Path of the Linux framebuffer that the display uses, for example <code>/dev/fb1</code>.
                </p>
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: settings.plugins.externaldisplay.enable_backlight">
                Enable backlight control
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Backlight GPIO number') }}</label>
        <div class="controls">
            <input type="number" class="input-medium"
                   data-bind="value: settings.plugins.externaldisplay.backlight_gpio">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('GPIO keymap') }}</label>
        <div class="controls">
            <textarea class="input-block-level"
                      data-bind="value: settings.plugins.externaldisplay.gpio_keymap"
                      rows="3"></textarea>
            <div class="help-block">
                <p>
                    JSON object mapping keys to GPIO pin numbers. For example:
                </p>
                <pre>{"left": 17, "right": 18, "a": 14, "b": 15}</pre>
            </div>
        </div>
    </div>
</form>
